<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>1024</integer>
		<key>height</key>
		<integer>1024</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>1.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>5</integer>
			<key>width</key>
			<integer>69</integer>
			<key>height</key>
			<integer>91</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>69</integer>
			<key>originalHeight</key>
			<integer>91</integer>
		</dict>
		<key>2.png</key>
		<dict>
			<key>x</key>
			<integer>399</integer>
			<key>y</key>
			<integer>5</integer>
			<key>width</key>
			<integer>69</integer>
			<key>height</key>
			<integer>91</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>69</integer>
			<key>originalHeight</key>
			<integer>91</integer>
		</dict>
		<key>3.png</key>
		<dict>
			<key>x</key>
			<integer>469</integer>
			<key>y</key>
			<integer>4</integer>
			<key>width</key>
			<integer>65</integer>
			<key>height</key>
			<integer>92</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>65</integer>
			<key>originalHeight</key>
			<integer>92</integer>
		</dict>
		<key>4.png</key>
		<dict>
			<key>x</key>
			<integer>535</integer>
			<key>y</key>
			<integer>2</integer>
			<key>width</key>
			<integer>77</integer>
			<key>height</key>
			<integer>94</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>77</integer>
			<key>originalHeight</key>
			<integer>94</integer>
		</dict>
		<key>5.png</key>
		<dict>
			<key>x</key>
			<integer>613</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>107</integer>
			<key>height</key>
			<integer>95</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>107</integer>
			<key>originalHeight</key>
			<integer>95</integer>
		</dict>
		<key>6.png</key>
		<dict>
			<key>x</key>
			<integer>721</integer>
			<key>y</key>
			<integer>2</integer>
			<key>width</key>
			<integer>65</integer>
			<key>height</key>
			<integer>94</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>65</integer>
			<key>originalHeight</key>
			<integer>94</integer>
		</dict>
		<key>7.png</key>
		<dict>
			<key>x</key>
			<integer>787</integer>
			<key>y</key>
			<integer>2</integer>
			<key>width</key>
			<integer>71</integer>
			<key>height</key>
			<integer>94</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>71</integer>
			<key>originalHeight</key>
			<integer>94</integer>
		</dict>
		<key>8.png</key>
		<dict>
			<key>x</key>
			<integer>859</integer>
			<key>y</key>
			<integer>3</integer>
			<key>width</key>
			<integer>109</integer>
			<key>height</key>
			<integer>93</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>109</integer>
			<key>originalHeight</key>
			<integer>93</integer>
		</dict>
		<key>9.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>97</integer>
			<key>width</key>
			<integer>80</integer>
			<key>height</key>
			<integer>93</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>80</integer>
			<key>originalHeight</key>
			<integer>93</integer>
		</dict>
		<key>10.png</key>
		<dict>
			<key>x</key>
			<integer>71</integer>
			<key>y</key>
			<integer>3</integer>
			<key>width</key>
			<integer>103</integer>
			<key>height</key>
			<integer>93</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>103</integer>
			<key>originalHeight</key>
			<integer>93</integer>
		</dict>
		<key>11.png</key>
		<dict>
			<key>x</key>
			<integer>175</integer>
			<key>y</key>
			<integer>3</integer>
			<key>width</key>
			<integer>76</integer>
			<key>height</key>
			<integer>93</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>76</integer>
			<key>originalHeight</key>
			<integer>93</integer>
		</dict>
		<key>12.png</key>
		<dict>
			<key>x</key>
			<integer>252</integer>
			<key>y</key>
			<integer>3</integer>
			<key>width</key>
			<integer>76</integer>
			<key>height</key>
			<integer>93</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>76</integer>
			<key>originalHeight</key>
			<integer>93</integer>
		</dict>
		<key>13.png</key>
		<dict>
			<key>x</key>
			<integer>329</integer>
			<key>y</key>
			<integer>2</integer>
			<key>width</key>
			<integer>69</integer>
			<key>height</key>
			<integer>94</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>69</integer>
			<key>originalHeight</key>
			<integer>94</integer>
		</dict>
	</dict>
</dict>
</plist>